/* disabled for link */
.isdisabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.isdisabled>a {
    color: currentColor;
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

/* dropzone style */
.dropzone-file-area {
    border: 2px dashed #028AF4;
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}